
body{ /* kolor tła */
    background-color: rgb(247, 243, 243);
}

nav{
    width: auto;
    text-align: center;
}

a{  /* kolor tekstu linku */
    color: white;
}

a:link { /* brak dekoracji tekstu linku */
    text-decoration: none;
}

.option{   /* opcja w głównym menu wyboru podstron */
    display: block;
    text-align: center;
    background-color: rgb(119, 82, 39);
    color: white;
    width: 800px;
    height: 50px;
    font-size: 40px;
}
.option:hover{ /* funkcja najechania na pole */
    display: block;
    text-align: center;
    background-color: rgb(160, 117, 68);
    color: white;
    width: 800px;
    height: 50px;
    font-size: 40px;
}

.choosed_option{
    display: block;
    text-align: center;
    background-color: rgb(160, 117, 68);
    color: white;
    width: 800px;
    height: 50px;
    font-size: 40px;
}

table { /* przesunięcie na wierzch tabeli z menu oraz wyśrodkowanie */
    position: relative;
    margin-left: auto;
    margin-right: auto;   
}

main{ /* część główna */
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width:1200px;
    height: auto; 
    background-color: rgb(236, 226, 226);
    font-size: 30px;
}
img{
    width: 900px;
    height: 680px;
}
